body {
  background: #00CC6A;
}
.clock {
  background: #fff;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  border: 14px outset #dbcdcd;
  box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
}
.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  box-shadow: 0px 2px 4px -1px black;
}
.hour-hand {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 90px;
  background: #000;
  top: 79px;
  transform-origin: 50% 72px;
  left: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.minute-hand {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 140px;
  background: #000;
  top: 46px;
  transform-origin: 50% 105px;
  left: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.second-hand {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 150px;
  background: #ff0000;
  top: 26px;
  transform-origin: 50% 125px;
  left: 50%;
  margin-left: -1px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
span {
  display: inline-block;
  position: absolute;
  color: #222;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  z-index: 4;
}
.h12 {
  top: 30px;
  left: 50%;
  margin-left: -9px;
}
.h1 {
  top: 45px;
  left: 67%;
}
.h2 {
  top: 85px;
  left: 80%;
}
.h3 {
  top: 140px;
  right: 30px;
}
.h4 {
  top: 190px;
  right: 52px;
}
.h5 {
  top: 230px;
  right: 90px;
}
.h6 {
  bottom: 30px;
  left: 50%;
  margin-left: -5px;
}
.h7 {
  top: 230px;
  left: 90px;
}
.h8 {
  top: 190px;
  left: 50px;
}
.h9 {
  left: 32px;
  top: 140px;
}
.h10 {
  top: 85px;
  right: 80%;
}
.h11 {
  top: 45px;
  right: 65%;
}
.diallines {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 15px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.diallines:nth-child(5) {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 25px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.brand-1 {
  position: absolute;
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #000;
  font-size: 18px;
  top: 80px;
  left: 50%;
  margin-left: -60px;
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
}
.brand-2 {
  position: absolute;
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #000;
  font-size: 15px;
  top: 200px;
  left: 50%;
  margin-left: -60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  z-index: 3;
}